/* REQUIRES: orientation_size.css */

/* TOC */
@page toc:left{
    @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        color: #09516e !important;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-size:14px;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right {
        content: "";
        letter-spacing: 0.025em;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        background-color: #09afd6;
    }
}

@page toc:right{
    @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        font-size:14px;
        color: #09516e !important;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right{
        content: "";
        letter-spacing: 0.025em;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
    }
}

/* BODY */
@page:left{
    @top-right{
        font-size: 14px;
        color: #09516e !important;
        border: none;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        content: "Global Fund Management";
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @top-left{
        content: "";
        background-image: 
        background-size: 45px;
        width: 45px;
        background-position: center;
        background-repeat: no-repeat;
        letter-spacing: 0.025em;
        line-height: 1em;
        font-weight: bold;
        color: #09516e !important;
        font-size: 14px;
    }
    @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        color: #09516e !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        background-color: #fff !important;
        font-size: 14px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 14px;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: normal;        
        font-size: 14px;
        color: #09516e !important;
        font-weight: bold;
        content: counter(page);
    }
}

@page:right{
    @top-right{
        content: "Global Fund Management";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-weight: bold;
        color: #09516e !important;
        font-size: 14px;
    }
    @top-left{
        content: "";
        background-image: 
        background-size: 45px;
        width: 45px;
        background-position: center;
        background-repeat: no-repeat;
        letter-spacing: 0.025em;
        line-height: 1em;
        font-weight: bold;
        color: #09516e !important;
        font-size: 14px;
    }
    @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        color: #09516e !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        background-color: #fff !important;
        font-size: 14px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 14px;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: normal;        
        font-size: 14px;
        color: #09516e !important;
        font-weight: bold;
        content: counter(page);
        letter-spacing: 0.025em;
    }
}
/* Margins fix for the header image. 
Adjust these properties if you use a custom image in the header. 
Remove or comment-out these properties if you don't use an image in the header. */
@page:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page:left {
    @top-left {
        padding-left: 31mm; 
    }
}

@page portrait_large:right {
    @top-left {
        padding-left: 41mm; 
    }
}
@page portrait_large:left {
    @top-left {
            padding-left: 41mm; 
        }
}

@page portrait:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page portrait:left {
    @top-left {
        padding-left: 31mm; 
    }
}

@page portrait_small:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page portrait_small:left {
    @top-left {
        padding-left: 31mm; 
    }
}

@page landscape_large:right {
    @top-left {
        padding-left: 41mm; 
    }
}
@page landscape_large:left {
    @top-left {
        padding-left: 41mm; 
    }
}
@page landscape:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page landscape:left {
    @top-left {
        padding-left: 31mm; 
    }
}
@page landscape_small:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page landscape_small:left {
    @top-left {
        padding-left: 31mm; 
    }
}

@page toc:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page toc:left {
    @top-left {
        padding-left: 31mm; 
    }
}

@page toc_portrait_large:right {
    @top-left {
        padding-left: 41mm; 
    }
}
@page toc_portrait_large:left {
    @top-left {
            padding-left: 41mm; 
        }
}

@page toc_portrait:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page toc_portrait:left {
    @top-left {
        padding-left: 31mm; 
    }
}

@page toc_portrait_small:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page toc_portrait_small:left {
    @top-left {
        padding-left: 31mm; 
    }
}

@page toc_landscape_large:right {
    @top-left {
        padding-left: 41mm; 
    }
}
@page toc_landscape_large:left {
    @top-left {
        padding-left: 41mm; 
    }
}
@page toc_landscape:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page toc_landscape:left {
    @top-left {
        padding-left: 31mm; 
    }
}
@page toc_landscape_small:right {
    @top-left {
        padding-left: 31mm; 
    }
}
@page toc_landscape_small:left {
    @top-left {
        padding-left: 31mm; 
    }
}
